@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ios-blue: rgb(10, 132, 255);
  --ios-blue-2: rgb(0, 64, 221);
  --ios-gray: rgb(28, 28, 30);
  --ios-gray-2: rgb(142, 142, 147);
  --ios-gray-3: rgb(44, 44, 46);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
}
